html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
    background-color: #2d3e50;
    color: white;
    padding: 1em;
    line-height: 1.1;
}

#left-title {
    font-size: 3em;
}

#right-title {
    text-align: right;
}

/*NEED TO ADD CONDITIONAL VIDEO SHRINK BY SCREEN SIZE*/
header {
  position: relative;
  background-color: black;
  height: 40em;
  min-height: 10em;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

h3 {
    text-align: center;
    padding: 20px;
    font-size: 3em;
    font-weight: 300;
    color: #2d3e50;
}

h4 {
    font-size: 1.5em;
}

hr {
    width: 79%
}

img {
    padding: 1.01em;
}

.project {
    padding: 1.3em;
}

.block-div {
    background-color: #2d3e50;
    padding: 1.1em;
}

.block-div-grey {
    background-color: #dcdbdb;
    padding: 1.1em;
}

.block-div-white {
    background-color: white;
    padding: 1.1em;
}

.white-text {
    color: white;
}

.blue-text {
    color: #2d3e50;
}

.backshape {
  padding-top: 2em;
  padding-bottom: 2.5em;
  z-index:1;
  display:block;
  width:100%;
  transform:skew(0deg,2.5deg);
-ms-transform:skew(0deg,2.5deg); /* IE 9 */
-webkit-transform:skew(0deg,2.5deg); /* Safari and Chrome */
}

.backshape-reverse {
  z-index:1;
  display:block;
  width:100%;
  transform:skew(0deg,-2.5deg);
-ms-transform:skew(0deg,-2.5deg); /* IE 9 */
-webkit-transform:skew(0deg,-2.5deg); /* Safari and Chrome */
}

.project p, .experience p {
    max-width: 30em;
}

.project-div {
    padding-bottom: 3em;
}

ul {
    list-style-type: circle;
}

li {
    max-width: 13em;
    padding: 3px;
}

